.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    text-align: center;
    flex-direction: row;
}

.login-card{
    /* height: 40rem; */
    width: 20rem;
    border: 1px solid #ccc;
    padding: 1rem;
}

.bottom-card{
    width: 20rem;
    margin-top: 1rem;
    padding:1rem;
    border: 1px solid #ccc;

}
.carbg{
    background: url('../image/loginImg.png');
    background-size: cover;
    height: 590px;
    width: 441px;
    position: relative;
}
.car{
    position: absolute;
    height: 423px;
    width: 241px;
    top: 93px;
    left: 143px;
}

@media only screen and (max-width:700px){
    
    .login-card{
        width: 16rem;
    }
    .bottom-card{
        width: 16rem;
    }
    
}

@media only screen and (max-width:700px){
    
    .carbg{
        display: none;
    }
    
}